@model BankInlupp2Mvc2.ViewModels.CustomerTransactionHistoryListViewModel
@{
    ViewData["Title"] = "CustomerTransactionHistory";
}

    <table id="twentymore">
        <tr>
            <th>Transaction ID</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Balance</th>
            <th>Type</th>
        </tr>

        @foreach (var transaction in Model.TransactionList.Take(20))
        {
            <tr>
                <td class="td">@transaction.TransactionId</td>
                @if (@transaction.Amount.ToString().Contains("-"))
                {
                    <td style="color:red" class="td">@transaction.Amount kr</td>
                }
                else
                {
                    <td class="td">@transaction.Amount kr</td>
                }
                <td class="td">@transaction.Date.ToString("yyyy-MM-dd")</td>
                <td class="td">@transaction.Balance kr</td>
                <td class="td">@transaction.Operation</td>
            </tr>
        }
        <a class="btn btn-secondary" href="#" onclick="fetch20more(); return false;">More</a>
    </table>

@section Scripts
{
    <script>
        var skip = 0;
        function fetch20more() {
            skip = skip + 20;
            $.ajax({
                url: "/Customer/GetTransactionsFrom?id="+@Model.AccountId+"&skip=" + skip, success: function (result) {
                    $("#twentymore").append(result);
                }
            });
        }
    </script>

}

