@model BankInlupp2Mvc2.ViewModels.CustomerSearchViewModel
@{
    ViewData["Title"] = "CustomerSearch";
}
<div style="margin-right:100px">
    <form asp-controller="Customer" asp-action="CustomerSearch" method="get">
        <input type="text" name="q" class="form-control" placeholder="Search..">
    </form>
</div>
<br />
<table style="margin-right:200px">
    <tr>
        <th><a asp-action="CustomerList" asp-route-sortField="Givenname" asp-route-sortOrder="@(Model.SortField == "Givenname" ? Model.OppositeSortOrder : "")" asp-route-q="@Model.q">Name</a></th>
        <th><a asp-action="CustomerList" asp-route-sortField="CustomerID" asp-route-sortOrder="@(Model.SortField == "CustomerID" ? Model.OppositeSortOrder : "")" asp-route-q="@Model.q">Customer ID</a></th>
        <th><a asp-action="CustomerList" asp-route-sortField="AccountID" asp-route-sortOrder="@(Model.SortField == "AccountID" ? Model.OppositeSortOrder : "")" asp-route-q="@Model.q">Account ID</a></th>
        <th><a asp-action="CustomerList" asp-route-sortField="City" asp-route-sortOrder="@(Model.SortField == "City" ? Model.OppositeSortOrder : "")" asp-route-q="@Model.q">City</a></th>
        <th><a asp-action="CustomerList" asp-route-sortField="Address" asp-route-sortOrder="@(Model.SortField == "Address" ? Model.OppositeSortOrder : "")" asp-route-q="@Model.q">Address</a></th>
        <th><a asp-action="CustomerList" asp-route-sortField="Birthday" asp-route-sortOrder="@(Model.SortField == "Birthday" ? Model.OppositeSortOrder : "")" asp-route-q="@Model.q">Birthdate</a></th>
    </tr>

    @foreach (var item in Model.ResultList)
    {
        <tr style="color:black">
            <td class="td">
                <a asp-controller="Customer"
                   asp-action="CustomerDetails"
                   asp-route-Givenname="@item.Givenname"
                   asp-route-id="@item.CustomerId">@item.Givenname @item.Surname</a>
            </td>
            <td class="td">@item.CustomerId</td>
            <td class="td">@item.AccountId</td>
            <td class="td">@item.City</td>
            <td class="td">@item.Streetaddress</td>
            <td class="td">@item.Birthday.ToString("yyyy-MM-dd")</td>
        </tr>
    }
    <tfoot>
        <tr class="ignore-css">
            <td class="ignore-css" colspan="5">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item">

                            <a class="page-link"
                               asp-controller="Customer"
                               asp-action="CustomerList"
                               asp-route-sortField="@Model.SortField"
                               asp-route-sortOrder="@Model.SortOrder"
                               asp-route-page="@(Model.Page - 1)"
                               asp-route-q="@Model.q">Previous</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               asp-controller="Customer"
                               asp-action="CustomerList"
                               asp-route-sortField="@Model.SortField"
                               asp-route-sortOrder="@Model.SortOrder"
                               asp-route-page="@(Model.Page + 1)"
                               asp-route-q="@Model.q">Next</a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>