@model BankInlupp2Mvc2.ViewModels.CustomerSearchViewModel
@{
    ViewData["Title"] = "CustomerSearch";
}
<div>
    <form asp-controller="Customer" asp-action="CustomerSearch" method="get">
        <input type="text" name="q" class="form-control" placeholder="Search..">
    </form>
</div>
<br />
<table>
    <tr>
        <th><a asp-action="CustomerList" asp-route-sortField="Givenname" asp-route-sortOrder="@(Model.SortField == "Givenname" ? Model.OppositeSortOrder : "")" asp-route-q="@Model.q">Name</a></th>
        <th><a asp-action="CustomerList" asp-route-sortField="Surname" asp-route-sortOrder="@(Model.SortField == "Surname" ? Model.OppositeSortOrder : "")" asp-route-q="@Model.q">Surname</a></th>
        <th><a asp-action="CustomerList" asp-route-sortField="CustomerID" asp-route-sortOrder="@(Model.SortField == "CustomerID" ? Model.OppositeSortOrder : "")" asp-route-q="@Model.q">Customer ID</a></th>
        <th><a asp-action="CustomerList" asp-route-sortField="City" asp-route-sortOrder="@(Model.SortField == "City" ? Model.OppositeSortOrder : "")" asp-route-q="@Model.q">City</a></th>
        <th><a asp-action="CustomerList" asp-route-sortField="Birthday" asp-route-sortOrder="@(Model.SortField == "Birthday" ? Model.OppositeSortOrder : "")" asp-route-q="@Model.q">Birthdate</a></th>
    </tr>

    @foreach (var item in Model.ResultList)
    {
        <tr>
            <td class="td">
                <a asp-controller="Customer"
                   asp-action="CustomerDetails"
                   asp-route-Givenname="@item.Givenname"
                   asp-route-Surname="@item.Surname">@item.Givenname</a>
            </td>
            <td class="td">@item.Surname</td>
            <td class="td">@item.CustomerId</td>
            <td class="td">@item.City</td>
            <td class="td">@item.Birthday</td>
        </tr>
    }
    <tfoot>
        <tr>
            <td colspan="5">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item">

                            <a class="page-link"
                               asp-controller="Customer"
                               asp-action="CustomerList"
                               asp-route-sortField="@Model.SortField"
                               asp-route-sortOrder="@Model.SortOrder"
                               asp-route-page="@(Model.Page - 1)"
                               asp-route-q="@Model.q">Previous</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link"
                               asp-controller="Customer"
                               asp-action="CustomerList"
                               asp-route-sortField="@Model.SortField"
                               asp-route-sortOrder="@Model.SortOrder"
                               asp-route-page="@(Model.Page + 1)"
                               asp-route-q="@Model.q">Next</a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>