@model BankInlupp2Mvc2.ViewModels.CustomerDetailsViewModel
@{
    ViewData["Title"] = "CustomerDetails";
}

@foreach (var customer in Model.Customers)
{
    <div class="container-fluid">
        <h2>@customer.Givenname @customer.Surname</h2>
        <img src="~/img/blank-profile-picture-973460_1280-1.png" alt="blank profile" width="180" height="200">
        <br />
        <br />
        <div>
            <div>Customer ID: @customer.CustomerId</div>
            <div>Customer since: @customer.Created</div>
            <div>Birthdate: @customer.Birthday</div>
            <div>Street address: @customer.Streetaddress</div>
            <div>City: @customer.City</div>
            <div>Country: @customer.Country</div>
            <div>Country code: @customer.CountryCode</div>
            <div>E-mail: @customer.Emailaddress</div>
            <div>Phone: @customer.Telephonenumber</div>
            <div>Current balance: @customer.Balance kr</div>
            <div>
                <a asp-controller="Customer"
                   asp-action="CustomerTransactionHistory"
                   asp-route-id="@customer.AccountId">Transaction history</a>
            </div>
        </div>
    </div>
}